h1, h2 {
 font-size: 1.25rem;
 font-weight: 600;
 line-height: 1.25;
 margin-top:1em;
 margin-bottom: .5em
}
.bc-silver {
 border-color: #dddddd;
}
.bc-gray {
 border-color: #aaaaaa;
}
.code-img {
   width: 64px;
   height: 64px;
}
.front-img {
    width: 156px;
    filter: brightness(125%);
}
