<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dane Bulat - $title$</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/ace.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />
  </head>
    <body>
      <div class="flex flex-column" style="min-height:100vh">
        <header>
          <nav class="clearfix silver bg-navy">
            <div class="max-width-3 mx-auto">
              <div class="right">
                <a href="/" class="btn py2">Home</a>
                <a href="/articles.html" class="btn py2">Articles</a>
                <a href="/contact.html" class="btn py2">Contact</a>
              </div>
              <div class="left">
                <a href="/" class="btn py2">Dane Bulat &nbsp;|&nbsp; Developer</a>
              </div>
            </div>
          </nav>
        </header>

        <main role="main" class="flex-auto p2" style="background: rgb(238 238 238);">
          <div class="clearfix mxn2">
            <div class="max-width-3 mx-auto px3" style="background: white; padding-top: 10px; padding-bottom:10px;">
              <h1>$title$</h1>
              $body$
            </div>
          </div>
        </main>

        $partial("templates/footer.html")$
      </div>
    </body>
</html>
